html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-gap: 20px;
    border: 1px solid black;
  }

.container > div {
    border: 1px solid black;
}

h1 {
    grid-column: 1 / 13;
    grid-row: 1;
  }